* {
    margin: 0 ;
    padding: 0;

}

body {
    background-color: grey;
}

h1 {
    font-size: larger;
}

.formulario {
    background-color: rgb(216, 210, 210);
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
}