* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(224, 223, 223);

}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {

    margin-top: 25px;
    padding-bottom: 15px;
    
}

li {
    padding-top: 5%;
    font-size: larger;
    font-family: sans-serif;
}

a {
    color: red;
    text-decoration: none;
}

.footer {
    font-size: 1em;
    padding-top: 4em;
}