* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: grey;

}

ul {

    margin-top: 25px;
    padding-bottom: 15px;
    
}

li {
    padding-top: 5%;
    font-size: larger;
    font-family: sans-serif;
}

.footer {
    font-size: 1em;
    padding-top: 4em;
}